# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables
.env
.env.local

# MongoDB dump files
dump/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
